mat-icon {
    margin-right: 5px;
    margin-bottom: 3px;
}

mat-grid-tile-header {
    font-size: 22px;
}

table {
    width: 100%;
    background-color:transparent!important;  
}

.container {
    width: 100%;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
}

th {
    font-size: 24px;
}

td {
    font-size: 20px;
}
